.login-info input[type="email"], .login-info input[type="password"]{
  width: 226px;
  height: inherit;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  height: 22px;
  text-indent: 5px;
  margin-bottom: 4px;
  box-shadow: inset 0 1px rgb(220, 220, 220);
}


.login-info {
  line-height: 22px;
  padding: 0;
}

.nav-dropdown {
  background-color: rgba(220, 220, 220, 0.1);
}

.contact-us {
  width: 920px;
  margin: auto;
}

.page-location {
  font-family: "Orienta", sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  margin: 20px 0 30px 0;
}

.contact-us > h1 {
  width: inherit;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "PT sans", sans-serif;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.main-contact {
  width: 563px;
  height: 345px;
  float: left;
}

input, textarea, label {
  float: left;
  clear: left;
}

.main-contact input[type="text"], input[type="email"] {
  width: 440px;
  height: 35px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 6px;
  box-shadow: inset 0 1px rgb(220, 220, 220);
  text-indent: 10px;
  margin-bottom: 26px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
}

.main-contact label {
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 14px 0 5px 8px;
  color: rgb(51, 51, 51);
}

.main-contact textarea {
  width: 563px;
  border: 3px solid rgb(180, 180, 180);
  box-shadow: inset 0 1px rgb(220, 220, 180);
  height: 100px;
  border-radius: 8px;
}

.main-contact input[type="submit"] {
  width: 111px;
  height: 41px;
  background-color: rgb(149, 51, 32);
  border-radius: 4px;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 21px;
  margin-top: 16px;
}

.social-info {
  overflow: auto;
  clear: auto;
  height: 365px;
  padding-left: 80px;
}

.methods-of-contact li header {
  font-family: "PT sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgb(40, 40, 40);
}

.facebook a, .twitter a {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 8px;
}

.facebook a {
  background-image: url("/images/social-network-sprite.png");
}

.twitter a {
  background-image: url("/images/social-network-sprite.png");
  background-position: 0 32px;
}

.facebook span, .twitter span {
  font-family: "Orienta", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  display: block;
}

.facebook span:nth-child(3), .twitter span:nth-child(3) {
  text-transform: lowercase;
  color: rgb(154, 173, 191);
}

.facebook {
  margin-bottom: 20px;
}

.twitter {
  margin-bottom: 35px;
}

.tel-number {
  color: #fff;
}
.tel-number, 
.store-hours,
.store-address {
  font-family: "Orienta", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgb(60, 60, 60);
  display: block;
}

.call-us header, .visit-us header {
  margin-bottom: 10px;
}

.store-hours {
  margin-bottom: 26px;
}

.contact-us {
  padding-bottom: 134px;
}

.outer-footer {
  text-align: center;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgb(51, 51, 51);
  background-color: rgb(199, 178, 153);
  padding-bottom: 40px;
}

.outer-footer span {
  padding-top: 50px;
  padding-bottom: 20px;
  display: block;
}

.register-button {
  width: 158px;
  height: 46px;
  background-color: rgb(149, 51, 32);
  border-radius: 6px;
  border: none;
  line-height: 46px;
  vertical-align: center;
  margin: 0 auto;
}

.register-button a {
  width: inherit;
  height: inherit;
  color: #fff;
  font-weight: bold;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
}
