.slider-box {
  width: 924px;
  height: 350px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.slider-image {
  width: 924px; /* same as grandparent/image size */
  height: 331px; /*same as IMAGE height */
}

.slider-nav {
  height: 15px;
}

.slider-nav > ul > li {
  font-size: 26px;
  float: left;
  list-style-type: disc;
  margin: 0 10px;
  color: #646464;
}

.slider-nav > ul > li:first-child {
  margin-left: 440px;
  list-style-type: circle;
}

.shop-by > h1 {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: bold;
  color: rgb(34,34,34);
  font-size: 24px;
  margin: 10px 0 18px 10px;
  border-bottom: 1px solid rgb(75,75,75);
  padding-bottom: 5px;
  width: 930px;
}

/* changed the next 3 divs to be contained by a percentage method */
.content-categories li {
  display: inline;
  border-right: 1px solid rgb(185,190,185);
  /*width: 179px; */
  width: 18%;
  height: 362px;
  float: left;
  padding-left: 14px;
  padding-right: 4px;
}

/*
.content-categories li:nth-child(2) {
  padding-left: 13px;
}

.content-categories li:last-child {
  border-right: none;
  float: right;
  padding-right: 4px;
}
*/

.content-categories li:nth-child(5) {
  border-right: none;
  padding-right: none;
}

.category-image {
  width: 164px;
  height: 247px;
  margin-bottom: 15px;
}

.category-image img {
  height: 100%;
  width: 100%;
}

.content-categories li a {
  font-size: 18px;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  color: rgb(106, 136, 165);
}

.content-categories li span {
  margin-top: 10px;
  font-family: "Orienta", sans-serif;
  font-size: 14px;
  color: rgb(35, 35, 35);
  line-height: 18px;
  display: block;
}

.content-categories {
  overflow: auto;
}

.content-supplementary {
  margin-bottom: 100px;
}

.content-supplementary ul {
  width: 960px;
  height: 169px;
  margin: auto;
  position: relative;
}

.content-supplementary ul li {
  height: inherit;
  width: 300px;
  margin: 26px 10px 10px 10px;
  display: inline-block;
  float: left;
}

.find-more {
  background-color: rgb(193, 214, 130);
  background-image: url("images/steak.png");
  background-repeat: no-repeat;
  background-position: 170px 80px;
}

.find-more-text {
  font-family: "Droid Sans", sans-serif;
  color: rgb(42, 50, 18);
  font-size: 26px;
  margin: 26px 0 0 20px;
  display: block;
}

.find-more-button {
  width: 137px;
  height: 28px;
  position: relative;
  top: 33px;
  left: 10px;
  background-color: rgb(166,100,21);
  border: none;
  border-radius: 12px;
  text-align: center;
  vertical-align: center;
  line-height: 28px;
}

.find-more-button a {
  color: #fff;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
}

.value-deals {
  background-color: rgb(243, 231, 213);
  background-image: url("/images/free-shipping-background.png");
}

.first-line {
  font-family: "PT sans", sans-serif;
  color: rgb(53, 36, 10);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.value-deals-text {
  position: relative;
  top: 20px;
  left: 40px;
  width: 200px;
  height: 80px;
  font-family: "PT sans", sans-serif;
  color: rgb(53, 36, 10);
  font-size: 20px;
  display: block;
}

.value-deals-button{
  width: 163px;
  height: 28px;
  position: relative;
  top: 16px;
  left: 13px;
  background-color: rgb(57, 111, 145);
  border-radius: 12px;
  border: none;
  text-align: center;
  vertical-align: center;
  line-height: 28px;
  margin-left: 16px;
  margin-top: 12px;
}

.value-deals-button > a {
  width: inherit;
  height: inherit;
  font-weight: bold;
  color: #fff;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
}

.sign-up {
  background-color: rgb(188, 208, 214);
  background-image: url("images/sale-tag.png");
  background-repeat: no-repeat;
  background-position: 170px 90px;
}

.sign-up-text {
  color: rgb(126, 11, 36);
  font-family: "PT sans", sans-serif;
  font-style: italic;
  font-size: 19px;
  padding: 16px 0 4px 16px;
  line-height: 25px;
  display: block;
}

.sign-up form input[type="email"] {
  border-radius: 4px;
  width: 274px;
  height: 26px;
  margin: 2px 0 0 12px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  text-indent: 8px;
  position: relative;
  z-index: 2;
  border: 1px solid rgb(150,150, 150);
  box-shadow: inset 0 1px rgb(180, 180, 180);
}

.sign-up form input[type="submit"] {
  width: 137px;
  height: 28px;
  position: relative;
  left: 12px;
  top: 10px;
  border-radius: 10px;
  border: none;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: rgb(145, 65, 57);
}

.outer-footer {
  background-color: rgb(199, 178, 153);
  text-align: center;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
}

.outer-footer span {
  color: rgb(51, 51, 51);
  padding-top: 40px;
  display: block;

}

.register-button {
  width:158px;
  height:46px;
  background-color: rgb(149, 51, 32);
  border: none;
  border-radius: 4px;
  margin: 20px auto 26px auto;
  vertical-align: center;
  line-height: 46px;
}

.register-button a {
  color: #fff;
  font-size: 18px;
}

.nav-footer li {
  display: inline;
  padding: 0 16px;
  border-right: 1px solid #fff;
}

.nav-footer li:last-child {
  border-right: none;
}

.nav-footer li a {
  text-decoration: none;
  color: #fff;
}
.nav-footer {
  padding-bottom: 50px;
}
