body {
  background-image: url("images/background_tile.gif");
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: rgb(78, 135, 113);
  box-shadow: 0 5px 5px rgb(80,110,98);
  height: 56px;
  line-height: 56px;
  vertical-align: center;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
  color: #fff;
}

.outer-nav {
  height: 56px;
  width: inherit;
  display: inline-block;
  vertical-align: top;
}

.outer-nav a {
  color: #fff;
}

.outer-nav-email, .outer-nav-login {
  float:left;
}

.outer-nav-email {
  width: 480px;
}

.outer-nav-login {
  width: 80px;
  margin-left: 250px;
}

.outer-nav-cart {
  width: 130px;
  display: inline-block;
  float: right;
}

.login-info, .login-action {
  position: relative;
  z-index: -1;
  opacity: 0;
  line-height: 20px;
}

.outer-nav-login:hover .login-info {
  z-index: 1;
  opacity: 1;
}

.outer-nav-login:hover .login-action {
  z-index: 1;
  opacity: 1;
}

.down-arrow {
  float: right;
}
.down-arrow, 
.down-arrow-front, 
.down-arrow-back {
  height: 0;
  width: 0;
}

.down-arrow-back, 
.down-arrow-front {
  position: relative;
  border: 10px solid transparent;
  margin: 0;
  padding: 0;
}

.down-arrow-front {
  z-index: 1; /* will be the part of the arrow that is meant to be seen, other arrow will blend in */
  border-top-color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  top: 4px;
  right: 35px;
}

.down-arrow-back {
  z-index: 2;
  border-top-color: #4e8771; 
  top: 21px;
  right: 35px;
}

.main {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.main hgroup {
  height: 130px;
  background-color: rgb(119,174,153);
  border-bottom-right-radius: 50% 80px;
  border-bottom-left-radius: 50% 80px;
}


.main hgroup > h1 {
  margin: 0 auto; /* not sure why text-align: center doesn't work */
  width: 430px;
  height: 102px;
  padding-top: 10px;
}

.main hgroup > h2 {
  width: 85px;
  height: 85px;
  position: relative;
  left: 8%;
  bottom: 53%;
  
}

.logo {
  width: 100%;
  height: 100%;
}

.main-menu {
  text-align: center;
}

.main-menu li {
  display: inline-block;
  float: none;
  padding: 20px 35px 20px 20px;
  text-align: center;
}

.main-menu li > a {
  text-transform: uppercase;
  color: rgb(85,42,14);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.main-menu li > .down-arrow .down-arrow-front {
  border-top-color: rgb(85, 42, 14);
  top: -14px;
  left: 8px;
}

.main-menu li > .down-arrow .down-arrow-back {
  border-top-color: #fff;
  top: 3px;
  left: 8px;
}


.nav-dropdown {
  position: absolute;
  text-decoration: none;
  background-color: rgba(255, 255, 255, .5);
  z-index: -1;
  width: 150px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.nav-dropdown li {
  text-align: left;
  padding: 10px;
  float: left;
  clear: left;
  padding-left: 2px;
}

.nav-dropdown li:first-child {
  padding-top: 22px;
}

.nav-dropdown li:last-child {
  padding-bottom: 4px;
}


.main-menu li:hover .nav-dropdown {
  z-index: 1;
  opacity: 1;
}



