.contact-main-content {
	width: 100%;
	height: 250px;
	margin-top: 53px;
	.company-info, .send-message, .social-media-links {
		float: left;
		display: block;
	}
	.company-info {
		width: 22%;
		height: 100%;
		h1, address, a {
			font-family: $open_sans;
		}
		h1 {
			color: #062033;
			font-size: 18px;
			margin-bottom: 26px;
			line-height: 26px;
		}
		address, a {
			line-height: 22px;
			font-size: 14px;
			color: #9aa0a4;
			width: 100%;
			display: block;
		}
	}

	.send-message {
		width: 70%;
		height: 100%;
		.title, .name, .email, .message, .submit-button {
			float: left;
			display: block;
			clear: left;
			font-family: $open_sans;
		}
		.title {
			height: 20%;
			font-weight: bold;
			font-size: 24px;
			color: #062033;

		}
		.name, .email, .message {
			border: none;
			border-bottom: 1px solid #cccccc;
			height: 25%;
		}
		.name, .email {
			width: 48%;
		}
		.email {
			clear: none;
			float: right;
		}
		.message {
			width: 100%;
		}
		.submit-button {
			margin-top: 31px;
			float: right;
			.button-text {
				display: inline-block;
				font-size: 16px;
				color: #262626;
				margin-left: 8px;
				vertical-align: top;
			}
		}
	}
	.social-media-links {
		width: 8%;
		height: 100%;
		ul {
			width: 26px;
			height: 100%;
			margin: 0 auto;
			li {
				height: 24px;
				width: 100%;
				background-image: url("/../../images/contact-social-media.png");
				margin: 18px 0;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			li:nth-child(2) {
				background-position: 0 -40px;
			}
			li:nth-child(3) {
				background-position: 0 -85px;
			}
			li:nth-child(4) {
				background-position: 0 -128px;
			}
			li:nth-child(5) {
				background-position: 0 -172px;
			}
		}
	}
}

.container-map {
	margin-top: 62px;
	height: 215px;
	width: 100%;
	background-image: url("/../../images/map.png");
}