.wrapper-facts {
	background-image: url("/../../images/facts-background.png");
}

.content-facts {
	margin: 35px auto 0 auto;
	padding-bottom: 100px;
	height: 258px;
	width: 100%;
	ul {
		width: 100%;
		height: 100%;
		li {
			text-align: center;
			height: 100%;
			width: 16%;
			display: block;
			float: left;
			margin-right: 12%;
			.facts-img {
				margin: 0 auto;
				height: 130px;
				width: 130px;
				background-image: url("/../../images/facts-imgs.png");
			}
			.img2 {
				background-position: -301px 0;
			}
			.img3 {
				background-position: -600px 0;
			}
			.img4 {
				background-position: -901px 0;
			}
			h1, h2 {
				color: #fff;
				text-transform: uppercase;
				font-family: $open_sans;
			}
			h1 {
				font-weight: 600;
				font-size: 60px;
			}
			h2 {
				font-weight: normal;
				font-size: 18px;
			}
		}
		li:last-child {
			margin-right: 0;
		}
	}
}