@import "../utils/variables";

.wrapper-features {
	background-color: #f4f7f9;
}

.features-content {
	width: 100%;
	margin-top: 62px;
}

.features-content-container {
	width: 30%;
	float: left;
	margin-left: 50px;
	.features-content-background {
		height: 117px;
		width: 40px;
		float: left;
		background-image: url("/../../images/features-icon-sprite.png");
		background-repeat: no-repeat;
		margin-right: 30px;
	}

	.icon2 {
		background-position: -40px 0;
	}

	.icon3 {
		background-position: -80px 0;
	}

	h1 {
		color: #062033;
		font-family: $open_sans;
		font-size: 20px;
		font-weight: 600; /*semi-bold */
	}
	.features-content-text {
		font-family: $open_sans;
		font-weight: normal;
		font-size: 13px;
		color: #868e95;
		display: block;
		margin-top: 22px;
		line-height: 22px;
		width: 380px;
	}
}

.features-content {
	ul {
		li {
			.first-container {
				margin-left: 0;
			}
		}
	}
}

.features-slider {
	width: 100%;
	height: 50px;
	position: relative;
	clear: both;
	padding-top: 60px;
	ul {
		width: 80px;
		margin: 0 auto;
		height: 50px;
		text-align: center;
		li {
			height: 100%;
			width: 33%;
			display: list-item;
			float: left;
			list-style-type: circle;
			color: #aaa;
			list-style-position: inside;
		}
		li:first-child {
			color: #000;
			list-style-type: disc;
		}
	}
}