@import "../utils/variables";

header.main {
	margin-left: 13%;
}
.content-staff {
	margin-top: 40px;
	height: 364px;
	width: 100%;
	ul {
		height: 100%;
		width: 100%;
		li {
			height: 100%;
			position: relative;
			display: block;
			float: left;
			width: 23.4%;
			margin-right: 2.1%;
			.staff-image {
				height: 300px;
				width: 100%;
			}
			.staff1 {
				background-image: url("/../../images/team1.png");
			}
			.staff2 {
				background-image: url("/../../images/team2.png");		
			}
			.staff3 {
				background-image: url("/../../images/team3.png");			
			}
			.staff4 {
				background-image: url("/../../images/team4.png");						
			}
			hgroup.staff-title {
				h1, h2 {
					position: static;
					padding: 0;
					font-family: $open_sans;
					text-align: center;
				}
				h1 {
					font-weight: 600;
					font-size: 18px;
					color: #062033;
					margin-top: 18px;
				}
				h2 {
					font-size: 13px;
					color: #a7abb0;
					margin-top: 14px;
				}
			}
		}
		li:hover {
			hgroup.staff-title {
				h1 {
					color: $features_main_color;
				}
			}
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

.staff-overlay {
	background-color: $team_overlay_color;
	text-align: center;
	height: 100%;
	opacity: 0;
	h1, h2 {
		margin: 0 auto;
		padding-top: 16px;
		width: 75%;
		line-height: 22px;
		font-family: $open_sans;
		font-size: 14px;
		font-weight: bold;
	}
	h2 {
		font-weight: normal;
		padding-top: 4px;
	}
}

nav.staff-contact {
	margin: 85px auto 0 auto;
	width: 134px;
	height: 42px;
	ul {
		width: 100%;
		height: 100%;
		li {
			margin-right: 4px;
			width: 42px;
			height: 100%;
			display: block;
			float: left;
			.twitter, .facebook, .googleplus {
				display: block;
				width: 100%;
				height: 100%;
				background-image: url("/../../images/team-social-nav.png");
			}
			.facebook {
				background-position: -48px 0;
			}
			.googleplus {
				background-position: -92px 0;
			}
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

.staff-overlay:hover {
	opacity: 1;
}


.meet-our-team-slider {
	margin: 60px auto 88px auto;
	height: 20px;
	width: 60px;
	ul {
		width: 100%;
		height: 100%;
		li {
			color: #aaa;
			display: list-item;
			width: 31%;
			height: 100%;
			float: left;
			list-style-type: circle;
			list-style-position: inside;
		}
		li:first-child {
			list-style-type: disc;
			color: #111;
			padding-left: 4px;
		}
	}
}