@import "../utils/variables",
		"../utils/mixins";

.top-main {
	width: inherit;
	height: $header_total;
	background-image: url("/../../images/header_background.png");
}

nav.top {
	width: inherit;
	height: $top_nav_height;
}

.brand {
	position: relative;
	float: left;
	height: inherit;
	line-height: $top_nav_height;
	vertical-align: center;
	.logo, .slogon {
		position: relative;
		float:left;
	}

	.logo a{
		font-family: $pacifo;
		font-size: 28px;
		padding-right: 20px;

	}

	.slogon {
		height: 16px;
		line-height: 16px;
		font-family: $open_sans;
		font-size: 13px;
		font-weight: lighter;
		border-left: 1px solid #17526e;
		box-left-shadow: 1px 0px 0px #566061;
		color: #566061;
		top: 42%;
		padding-left: 16px;
	}
}

.top-bar-links ul {
	float: right;
	height: $top_nav_height;
	line-height: $top_nav_height;
	vertical-align: center;
	li {
		border-top: 1px solid transparent;
		height: 100%;
		display: inline-block;
		margin: 0 20px;
		padding: 0 6px;
		a {
			font-family: $open_sans;
			font-size: 13px;
		}
	}

	li:last-child {
		margin-right: 0;
		padding-right: 0;
	}

	li:hover {
		border-top: 1px solid #32b0ee;
	}
}

header.top {
	height: ($header_total - $top_nav_height);
	width: 95%;
	float: left;
	h1, h2, h3, .nav-social-media {
		position: relative;
		top: 53%;
		text-align: center;
		float: none;
		font-family: $open_sans;
		font-weight: lighter;
	}
	h1 {
		font-size: 62px;
		span {
			font-weight: bold;
		}
	}
	h2 {
		font-size: 48px;
		margin-bottom: 28px;
		span {
			color: $top_main_color;
		}
	}
	h3 {
		font-size: 18px;
		.line-border { @include text-side-lines(28px, 1px, $top_main_color); 
				margin: 0 26px 6px 26px;
		}
	}
	.nav-social-media {
		height: 20px;
		width: 100%;
		margin-top: 125px;
		ul {
			margin: 0 auto;
			height: 20px;
			width: 114px;
			li {
				width: 20px;
				height: 20px;
				display: inline-block;
				margin: 0 2px;
			}
		}
	}
}

.twitter-link, .facebook-link, .googleplus-link, .dribble-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url("/../../images/social_media_sprite.png")
}

.facebook-link {
	background-position: 80px 0;
}

.googleplus-link {
	background-position: 50px 0;
}

.dribble-link {
	background-position: 20px 0;
}

.slider {
	width: 5%;
	height: ($header_total - $top_nav_height);
	float: left;
	ul {
		padding-top: ($header_total - $top_nav_height) * (2/5);
		li {
			height: 20px;
			width: (1600px*.05);
			color: #fff;
			display: list-item;
			list-style-type: circle;
			list-style-position: inside;

		}
		li:first-child{
			list-style-type: disc;
		}
	}
}