@import "../utils/variables";

nav.content-works {
	ul {
		height: 30px;
		width: 500px;
		margin: 40px auto 20px auto;
		text-align: center;
		line-height: 30px;
		vertical-align: center;
		li {
			display: inline-block;
			padding: 0 15px;
			margin: 0 4px;
			a {
				font-family: $open_sans;
				font-size: 14px;
				font-weight: 600;
				color: #062033;
			}
		}
		li:hover {
			background-color: $features_main_color;
			border-radius: 3px;
			a {
				color: #fff;
			}
		}
	}
}

.content-works-images {
	width: 100%;
	height: 630px;
	ul {
		width: 100%;
		height: 100%;
		li {
			display: block;
			float: left;
			width: 25%;
			height: 50%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			.works-img-text {
				display: block;
				text-align: center;
				width: 100%;
				height: 100%;
				background-color: $works_overlay_color;
				opacity: 0;
				img, h1, h2 {
					position: relative;
					top: 35%;
				}
				img {
					margin-bottom: 24px;
				}
				h1, h2 {
					font: $open_sans;
				}
				h1 {
					font-weight: bold;
					font-size: 20px;
					margin-bottom: 12px;
				}
				h2 {
					font-size: 14px;
				}
			}
			.works-img-text:hover {
				opacity: 1;
				background-color: rgba(34, 183, 152, 0.9);
			}
		}
		li:first-child {
			background-image: url("/../../images/works-img1.png");
		}
		li:nth-child(2) {
			background-image: url("/../../images/works-img2.png");
		}
		li:nth-child(3) {
			background-image: url("/../../images/works-img3.png");			
		}
		li:nth-child(4) {
			background-image: url("/../../images/works-img4.png");			
		}
		li:nth-child(5) {
			background-image: url("/../../images/works-img5.png");			
		}
		li:nth-child(6) {
			background-image: url("/../../images/works-img6.png");
			background-size: 140% 140%;	
		}
		li:nth-child(7) {
			background-image: url("/../../images/works-img7.png");			
		}
		li:nth-child(8) {
			background-image: url("/../../images/works-img8.png");			
		}
	}
}