.wrapper-footer {
	border-top: 8px solid #062033;
	background-color: #1ea78d;
}

.footer-content {
	padding: 100px 0;
	width: 100%;
	height: 180px;
	.footer-statement, .footer-subscribe, .footer-explore, .footer-copyright-wrapper {
		width: 25%;
		height: 100%;
		float: left;
		font-family: $open_sans;
	}
	.footer-statement {
		h1 {
			font-family: $pacifo;
			font-size: 28px;
			height: 39%;
		}
		.statement-text {
			font-size: 13px;
			display: block;
			height: 61%;
			line-height: 22px;
			padding-right: 11%;
		}
	}

	.footer-subscribe {
		h1 {
			height: 39%;
			font-size: 14px;
			font-weight: bold;
		}

		form {
			width: 90%;
			height: 46px;
			border: 3px solid #fff;
			border-radius: 4px;
			line-height: 46px;
			vertical-align: center;
			.subscribe-input {
				border: none;
				background-color: #1ea78d;
				font-size: 18px;
				height: 80%;
				width: 80%;
				margin-left: 10px;

			}

		}
		.subscribe-text {
			font-size: 13px; 
			display: block;
			line-height: 22px;
			position: relative;
			top: 14px;
			padding-right: 16px;
		}
	}

	.footer-explore {
		h1 {
			height: 39%;
			font-size: 14px;
			font-weight: bold;
		}
		ul {
			width: 100%;
			height: 61%;
			li {
				width: 50%;
				height: 25%;
				display: block;
				float: left;
				font-size: 13px;
				a {
					display: block;
					height: 50%;
					width: 70%;
				}
			}
		}
	}
	.footer-copyright-wrapper {
		.container-filler {
			height: 39%;
			width: 100%;
		}
		.footer-copyright-content {
			height: 61%;
			width: 100%;
			h1 {
				width: 80%;
				height: 45px;
				font-size: 13px;
				border-left: 1px solid #177e72;
				line-height: 22px;
				padding: 0 18px;
				.heart {
					display: inline-block;
					padding: 0 5px;
					width: 18px;
					height: 14px;
					background-image: url("/../../images/heart-darkgray.png");
					background-repeat: no-repeat;
					background-position: center;
				}

				.emphasis {
					color: #062033;
				}
			}
			.rights-reserved {
				display: block;
				margin-top: 42px;
				font-size: 13px;
				color: #062033;
				padding-left: 8px;
			}
		}
	}
}