/* done for the most part in the reset file but just to reiterate the intended styles */
body {
	background-color: #fff;
	margin: 0;
	padding: 0; 
	color: #fff;
}

.top-nav-container {
	background-color: rgba(5, 12, 28, 0.3)
}

.container-width {
	width: 1156px;
	margin: 0 auto;
}
