@import "../utils/variables";
header.main {
	width: 932px;
	text-align: center;
	margin: 0 auto;
	padding-top: 80px;
	/* Margin right is to center text with header that is offset by the 5% width slider (80px) */
	h1 {
		color: $features_main_color;
		text-transform: uppercase;
		font-size: 28px;
		font-family: $open_sans;
		font-weight: bold;
		margin-bottom: 22px;
		margin-right: 80px;
	}
	h2 {
		margin-right: 80px;
		.header-main-lines {@include text-side-lines(90px, 1px, #c3c6c7);
		margin: 0 22px 8px 22px;
		}
	}
	h3 {
		font-family: $open_sans;
		font-size: 18px;
		font-weight: 600;
		margin-top: 22px;
		color: #5b646e;
	}
}