.wrapper-contact
	.container-width
		header.main
			h1 let's discuss
			h2 <span class="header-main-lines"></span><img src="../images/heart.png" alt="heart"/><span class="header-main-lines"></span>
			h3 Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
		.contact-main-content 
			aside.company-info
				h1 Cras at ultrices erat, sed vulputate!
				address 2345 Setwant natrer, 1234, Washington United states,
				a(href="tel:4011234567") (401) 1234 567
				a(href="mailto:hello@brandi.com") hello@brandi.com
				a(href="#") ww.brandi.com
			.send-message(action="#")
				h1.title Say hello!
				input(class="name" type="text" name="name" placeholder="Name")
				input(class="email" type="email" name="email" placeholder="Email")
				input(class="message" type="text" name="message" placeholder="Message")
				form.submit-button
					input(type="image" src="../images/envelope.png")
					span.button-text Send Message 
			.social-media-links
				ul 
					li: a.forrst(href="#")
					li: a.twitter(href="#")
					li: a.dribbble(href="#")
					li: a.behance(href="#")
					li: a.googleplus(href="#")
.container-map