doctype html
html(lang="en")
	head
		title= getPreparedTitle()
		link(rel="stylesheet" type="text/css" href="/styles/main.css")
		link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Pacifico')
		link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800')
	include page_header.html.jade

		