.wrapper-facts
	.container-width
		header.main
			h1 some fun facts
			h2 <span class="header-main-lines"></span><img src="../images/heart-white.png" alt="heart"/><span class="header-main-lines"></span>
		.content-facts
			ul 
				li
					.facts-img(class="img1")
					h1 3200
					h2 hours of work
				li
					.facts-img(class="img2")
					h1 120
					h2 satisfied clients
				li
					.facts-img(class="img3")
					h1 360
					h2 projects delivered
				li
					.facts-img(class="img4")
					h1 42
					h2 awards won
