.wrapper-features
	.container-width
		header.main
			h1 features
			h2 <span class="header-main-lines"></span><img src="../images/heart.png" alt="heart"/><span class="header-main-lines"></span>
		.features-content
			ul 
				li 
					.features-content-container(class="first-container")
						.features-content-background(class="icon1")
						h1 Branding
						span.features-content-text Sed ut perspeiciatis unde omnis iste natus error sit volupatatem accusantium doloremque laudan- tirum, totam rem aperiam, eaque ipsa quae ab illo inventore
				li
					.features-content-container
						.features-content-background(class="icon2")
						h1 Development 
						span.features-content-text Sed ut perspeiciatis unde omnis iste natus error sit volupatatem accusantium doloremque laudan- tirum, totam rem aperiam, eaque ipsa quae ab illo inventore
				li
					.features-content-container
						.features-content-background(class="icon3")
						h1 Consulting
						span.features-content-text Sed ut perspeiciatis unde omnis iste natus error sit volupatatem accusantium doloremque laudan- tirum, totam rem aperiam, eaque ipsa quae ab illo inventore
		.features-slider
			ul
				li
				li
				li
	