.wrapper-meet-our-team
	.container-width
		header.main
			h1 meet our team
			h2 <span class="header-main-lines"></span><img src="../images/heart.png" alt="heart"/><span class="header-main-lines"></span>
			h3 Sed ut perpiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illi inventore
		.content-staff
			ul
				li
					.staff-image(class="staff1")
						.staff-overlay
							h1 Nemo enim ipsam voluptatem quia voluptas
							h2 sit aspernatur au odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							nav.staff-contact
								ul
									li: a.twitter(href="#")
									li: a.facebook(href="#")
									li: a.googleplus(href="#")
					hgroup.staff-title
						h1 John Filmr Doe
						h2 Managing Director
				li
					.staff-image(class="staff2")
						.staff-overlay
							h1 Nemo enim ipsam voluptatem quia voluptas
							h2 sit aspernatur au odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							nav.staff-contact
								ul
									li: a.twitter(href="#")
									li: a.facebook(href="#")
									li: a.googleplus(href="#")
					hgroup.staff-title
						h1 Chystine Hineu
						h2 Lead Designer
				li
					.staff-image(class="staff3")
						.staff-overlay
							h1 Nemo enim ipsam voluptatem quia voluptas
							h2 sit aspernatur au odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							nav.staff-contact
								ul
									li: a.twitter(href="#")
									li: a.facebook(href="#")
									li: a.googleplus(href="#")
					hgroup.staff-title
						h1 Martin Matrone
						h2 Lead Developer
				li
					.staff-image(class="staff4")
						.staff-overlay
							h1 Nemo enim ipsam voluptatem quia voluptas
							h2 sit aspernatur au odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
							nav.staff-contact
								ul
									li: a.twitter(href="#")
									li: a.facebook(href="#")
									li: a.googleplus(href="#")
					hgroup.staff-title
						h1 Steve Flaulkin
						h2 Sr. UI Designer

		.meet-our-team-slider 
			ul
				li
				li
				li