.wrapper-footer 
	.container-width
		.footer-content
			.footer-statement
				h1 Brandi
				span.statement-text eusmod tempor incididunt ut labore et dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat.
			.footer-subscribe
				h1 Subscribe
				form(action="#")
					input(type="text" name="subscribe" class="subscribe-input")
					input(type="image" src="/../../images/arrow.png")
				span.subscribe-text eusmod tempor incididunt ut labore et dolore magna aliqua
			.footer-explore
				h1 Explore
				ul
					li: a(href="#") Envato 
					li: a(href="#") Themeforest
					li: a(href="#") Themecurve
					li: a(href="#") Microsoft
					li: a(href="#") Kreativeshowcase
					li: a(href="#") Google
					li: a(href="#") Freebiescurve
					li: a(href="#") Yahoo
			.footer-copyright-wrapper
				.container-filler
				.footer-copyright-content
					h1 Created with <div class="heart"></div> by <span class="emphasis">themecurve</span>, exclusive for kreativeshowcase
					span.rights-reserved &copy; 2014 Brandi. All Rights Reserved.

