body
	.wrapper
		.top-main
			.top-nav-container
				.container-width
					nav.top
						.brand
							.logo: a(href="#") Brandi
							.slogon I'am your tag line
						.top-bar-links
							ul
								li: a(href="#") Home
								li: a(href="#") Features
								li: a(href="#") Works
								li: a(href="#") Team
								li: a(href="#") Contact
			header.top
				h1 Meet <span>Brandi</span>!
				h2 <span>/creative</span> one page template.
				h3 <span class="line-border"></span> We are a team of professionals <span class="line-border"></span>
				.nav-social-media
					ul
						li: a.twitter-link(href="#")
						li: a.facebook-link(href="#")
						li: a.googleplus-link(href="#")
						li: a.dribble-link(href="#")
			.slider
				ul
					li
					li
					li
	include features.html.jade
	include works.html.jade
	include meet-our-team.html.jade
	include facts.html.jade
	include contact-form.html.jade
	include page_footer.html.jade