.wrapper-works
	.container-width
		header.main
			h1 Works 
			h2 <span class="header-main-lines"></span><img src="../images/heart.png" alt="heart"/><span class="header-main-lines"></span>
			h3 Sed ut perpiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illi inventore
		nav.content-works 
			ul 
				li: a(href="#") All
				li: a(href="#") Branding
				li: a(href="#") Web
				li: a(href="#") Logo Design
				li: a(href="#") Photography
	.content-works-images
		ul
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography
			li
				a(href="#" class="works-img-text")
					img(src="/../../images/eye-icon.png")
					h1 Labore et dolore magnam
					h2 Photography