$pacifo: "Pacifico", cursive;
$open_sans: "Open Sans", sans-serif;
$top_nav_height: 70px;
$header_total: 800px;
$top_main_color: #10bc80;
$features_main_color: #0eb493;
$works_overlay_color: #26bb9e;
$team_overlay_color: #1ab899;
