{% extends "contacts/base.html" %}

{% block content %}
<h1>Contacts</h1>

<ul> 
	{% for contact in object_list %}
		<li class="contact">{{ contact}}</li>
	{% endfor %}
</ul>

<a href="{% url "contacts-new" %}">add contact</a>
{% endblock %}