{% extends "contacts/base.html" %}

{% block content %}

<h1>Add Contact</h1>

<form action="{% url "contacts-new" %}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input id="save_contact" type="submit" value="Save" />
</form>

<a href="{% url "contacts-list" %}">back to list</a>
{% endblock %}